<div class="card">
    <div class="card-header">
      Calculadora IMC
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="txtnombre" class="form-label">Ingrese su Nombre:</label>
            <input type="text" class="form-control" id="txtnombre" >
        </div>
        <div class="mb-3">
            <label for="txttalla" class="form-label">Ingrese su Talla:</label>
            <input type="text" class="form-control" id="txttalla" >
        </div>
        <div class="mb-3">
            <label for="txtpeso" class="form-label">Ingrese su Peso:</label>
            <input type="email" class="form-control" id="txtpeso" >
         </div>
         <button type="button" class="btn btn-primary">CALCULAR</button>
         <hr />
         <div class="alert alert-info" role="alert">
            A simple info alert—check it out!
          </div>
        <hr />
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Valor IMC</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table> 
    </div>
  </div>
