<button type="button" class="btn btn-primary">Mostrar Alumnos</button>
<button type="button" class="btn btn-secondary">Mostrar Cursos</button>
<hr />
<div class="card text-bg-primary mb-3" >
    <div class="card-header">Lista de Alumnos</div>
    <div class="card-body">        
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    </div>
  </div>
  <div class="card text-bg-secondary mb-3" >
    <div class="card-header">Lista de Cursos</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
    </div>
  </div>
  
